{
  "openapi": "3.0.1",
  "info": { "title": "cms-service (Fri, 21 Jun 2024 11:24:23 GMT)", "version": "0.0.1-SNAPSHOT" },
  "servers": [
    {
      "url": "https://platform-gateway.rocketship.cash/cms-service",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Internal brand cms configuration API",
      "description": "com.lis.platform.integration.cmsservice.brand.controller.InternalBrandConfigurationController"
    },
    {
      "name": "Brand scripts API",
      "description": "com.lis.platform.integration.cmsservice.newpkg.controller.cms.brandscript.BrandScriptController"
    },
    { "name": "Configuration api", "description": "Crud operations on configurations" },
    { "name": "Brand properties api", "description": "Brand properties api" },
    { "name": "Navigation api", "description": "Navigation api" },
    { "name": "Localization api", "description": "Crud operations on localization items" },
    { "name": "Media files api", "description": "Crud operations on media files" },
    { "name": "Brand languages api", "description": "Brand languages api" },
    {
      "name": "Registration form API",
      "description": "com.lis.platform.integration.cmsservice.newpkg.controller.cms.registrationform.RegistrationFormController"
    },
    { "name": "Media directories api", "description": "Crud operations on media directories" },
    { "name": "Icons api", "description": "Icons api" },
    {
      "name": "Translations frontend api",
      "description": "Translations api used by the website"
    },
    { "name": "Website email template api", "description": "Website email template api" },
    { "name": "Promotions api", "description": "Crud operations on promotions" },
    { "name": "Brand domains api", "description": "Brand domains api" },
    { "name": "Casino game provider api", "description": "Casino game provider api" },
    {
      "name": "Website devcode-identity endpoints",
      "description": "Website devcode-identity api"
    },
    { "name": "Email template api", "description": "Email template api" },
    { "name": "Casino game tile api", "description": "Casino game tile api" },
    { "name": "Banners api", "description": "Banners api" },
    { "name": "Telegram api", "description": "Telegram api" },
    { "name": "Sweepstakes api", "description": "Sweepstakes api" },
    {
      "name": "Brand cms configuration API",
      "description": "com.lis.platform.integration.cmsservice.brand.controller.BrandConfigurationController"
    },
    { "name": "Generic Button Container api", "description": "Generic Button Container api" },
    {
      "name": "Brand theme API",
      "description": "com.lis.platform.integration.cmsservice.newpkg.controller.cms.brandtheme.BrandThemeController"
    },
    { "name": "Translations api", "description": "Crud operations on keys and translations" },
    { "name": "Reset password", "description": "Reset password api" },
    { "name": "Media system files api", "description": "Crud operations on media files" },
    { "name": "Website Telegram endpoints", "description": "Website Telegram api" },
    {
      "name": "Media system directories api",
      "description": "Crud operations on media directories"
    },
    { "name": "Pages api", "description": "Crud operations on pages" },
    { "name": "Bonus api", "description": "Bonus api" },
    {
      "name": "Translations import/export",
      "description": "Import export and search operations on translations"
    },
    {
      "name": "Brand theme API",
      "description": "com.lis.platform.integration.cmsservice.newpkg.controller.cms.brandtheme.BrandVariablesController"
    },
    { "name": "Casino api", "description": "Casino games api" },
    {
      "name": "Error page templates api",
      "description": "Crud operations on error page templates"
    }
  ],
  "paths": {
    "/api/translations": {
      "put": {
        "tags": ["Translations api"],
        "summary": "Update existing translation",
        "operationId": "updateTranslation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateTranslationRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Request validation error(s)" },
          "422": { "description": "Error while processing validation" },
          "404": { "description": "no such element" },
          "401": { "description": "jwt token is invalid or expired" },
          "200": {
            "description": "All translations for this key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TranslationXto" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      },
      "post": {
        "tags": ["Translations api"],
        "summary": "Create translation",
        "operationId": "createTranslation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateTranslationRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Request validation error(s)" },
          "422": { "description": "Error while processing validation" },
          "201": {
            "description": "Created translation and all other translations for this key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TranslationXto" }
              }
            }
          },
          "401": { "description": "jwt token is invalid or expired" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/telegram/configs": {
      "get": {
        "tags": ["telegram", "Telegram api"],
        "summary": "Get Telegram configurations",
        "operationId": "getAll",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "200": {
            "description": "Telegram configurations",
            "content": { "application/json": { "schema": { "type": "array" } } }
          }
        },
        "security": [{ "bearer-key": [] }]
      },
      "put": {
        "tags": ["telegram", "Telegram api"],
        "summary": "Update existing Telegram config",
        "operationId": "update",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TelegramConfigXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Config was not found by the given id" },
          "403": { "description": "Authorization failed" },
          "200": {
            "description": "Telegram config was updated successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TelegramConfigXto" }
              }
            }
          },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "post": {
        "tags": ["telegram", "Telegram api"],
        "summary": "Create new Telegram config",
        "operationId": "create",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TelegramConfigXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "201": {
            "description": "Telegram config was created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TelegramConfigXto" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/sweepstakes/packages/{id}": {
      "get": {
        "tags": ["Sweepstakes api", "sweepstakes"],
        "summary": "Get package by id",
        "operationId": "findById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Package item",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PackageXto" }
              }
            }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "put": {
        "tags": ["Sweepstakes api", "sweepstakes"],
        "summary": "Update existing package",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PackageRequestXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Promotion was not found by the given id" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "200": {
            "description": "Promotion item was updated successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PackageXto" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      },
      "delete": {
        "tags": ["Sweepstakes api", "sweepstakes"],
        "summary": "Delete existing package",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Promotion was not found by the given id" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "200": {
            "description": "Promotion item was removed successfully",
            "content": { "application/json": {} }
          }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/promotion/{id}": {
      "get": {
        "tags": ["promotions", "Promotions api"],
        "summary": "Get promotion by id",
        "operationId": "findById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "200": {
            "description": "Promotion item",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PromotionDetailsXto" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      },
      "put": {
        "tags": ["promotions", "Promotions api"],
        "summary": "Update existing promotion",
        "operationId": "update_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PromotionRequestXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Promotion was not found by the given id" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "200": {
            "description": "Promotion item was updated successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PromotionDetailsXto" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      },
      "delete": {
        "tags": ["promotions", "Promotions api"],
        "summary": "Delete existing promotion",
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Promotion item was removed successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PromotionDetailsXto" }
              }
            }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Promotion was not found by the given id" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/promotion/{id}/switch-publish": {
      "put": {
        "tags": ["promotions", "Promotions api"],
        "summary": "Publish/un publish promotion",
        "operationId": "switchPublish",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "200": {
            "description": "Promotion published state is changed",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/PromotionXto" } }
            }
          },
          "404": { "description": "Promotion not found" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/promotion/{id}/toggle-publish": {
      "put": {
        "tags": ["promotions", "Promotions api"],
        "summary": "Publish/un publish promotion",
        "operationId": "switchPublish_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "200": {
            "description": "Promotion published state is changed",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/PromotionXto" } }
            }
          },
          "404": { "description": "Promotion not found" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/pages/{id}/conditions": {
      "get": {
        "tags": ["Pages api", "conditions"],
        "summary": "Find root condition by name ",
        "operationId": "getPageCondition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "403": { "description": "Authorization unsuccessful" },
          "200": {
            "description": "Condition group for this page",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
              }
            }
          },
          "401": { "description": "Authentication unsuccessful" },
          "404": { "description": "Page or Conditions not found" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "put": {
        "tags": ["Pages api", "conditions"],
        "summary": "Update root condition for page",
        "operationId": "updateCondition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
              }
            }
          },
          "403": { "description": "Authorization unsuccessful" },
          "401": { "description": "Authentication unsuccessful" },
          "404": { "description": "Page or condition not found" },
          "422": { "description": "Validation error(s)" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "post": {
        "tags": ["Pages api", "conditions"],
        "summary": "Create root condition for page",
        "operationId": "createCondition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
              }
            }
          },
          "403": { "description": "Authorization unsuccessful" },
          "401": { "description": "Authentication unsuccessful" },
          "422": { "description": "Validation error(s)" },
          "404": { "description": "Page not found" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "delete": {
        "tags": ["Pages api", "conditions"],
        "summary": "Delete root condition for page",
        "operationId": "deleteCondition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "403": { "description": "Authorization unsuccessful" },
          "401": { "description": "Authentication unsuccessful" },
          "404": { "description": "Page or Condition not found" },
          "200": { "description": "Success" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/pages/error-pages-template": {
      "get": {
        "tags": ["Error page templates api"],
        "summary": "Get error page templates",
        "description": "Get error pages templates",
        "operationId": "getAllTemplates",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "200": {
            "description": "Get error pages templates",
            "content": { "application/json": { "schema": { "type": "string" } } }
          }
        },
        "security": [{ "bearer-key": [] }]
      },
      "put": {
        "tags": ["Error page templates api"],
        "summary": "Edit error page template",
        "description": "Edit error page template",
        "operationId": "editTemplate",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ErrorPageTemplateXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Edit error page template",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorPageTemplateXto" }
              }
            }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/icons": {
      "get": {
        "tags": ["Icons api", "icons"],
        "summary": "Get all configured icons",
        "operationId": "listIcons",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "200": {
            "description": "Icons list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IconXto" }
              }
            }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "put": {
        "tags": ["Icons api", "edit", "icons"],
        "summary": "Edit an existing icon",
        "operationId": "iconEdit",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/IconRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "200": {
            "description": "Edit an existing icon",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IconXto" }
              }
            }
          },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "post": {
        "tags": ["Icons api", "create", "icons"],
        "summary": "Create a new icon",
        "operationId": "iconCreate",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/IconRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "200": {
            "description": "Create a new icon",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IconXto" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/email/template": {
      "get": {
        "tags": ["Email template api"],
        "summary": "Get email templates",
        "description": "Get email templates",
        "operationId": "getAllTemplates_1",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "200": {
            "description": "Get email templates",
            "content": { "application/json": { "schema": { "type": "string" } } }
          }
        }
      },
      "put": {
        "tags": ["Email template api"],
        "summary": "Create email template",
        "description": "create email template",
        "operationId": "editTemplate_1",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmailTemplateXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "200": {
            "description": "Create email template",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EmailTemplateXto" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Email template api"],
        "summary": "Create email template",
        "description": "create email template",
        "operationId": "createTemplate",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmailTemplateXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "200": {
            "description": "Create email template",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EmailTemplateXto" }
              }
            }
          }
        }
      }
    },
    "/api/conditions/{type}/{id}": {
      "get": {
        "tags": ["Conditions api"],
        "summary": "Get all root condition groups ",
        "operationId": "get_7",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["CONTAINER", "CONTAINER_CONFIGURATION", "PAGE", "BANNER"]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "List of all condition groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ConditionGroupXto" }
                }
              }
            }
          },
          "403": { "description": "Authorization unsuccessful" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "put": {
        "tags": ["Conditions api"],
        "summary": "Update root page condition ",
        "operationId": "updateCondition_1",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["CONTAINER", "CONTAINER_CONFIGURATION", "PAGE", "BANNER"]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
              }
            }
          },
          "403": { "description": "Authorization unsuccessful" },
          "404": { "description": "Entity not found" },
          "401": { "description": "Authentication unsuccessful" },
          "422": { "description": "Validation error(s)" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "post": {
        "tags": ["Conditions api"],
        "summary": "Create root page condition ",
        "operationId": "createCondition_1",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["CONTAINER", "CONTAINER_CONFIGURATION", "PAGE", "BANNER"]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
              }
            }
          },
          "403": { "description": "Authorization unsuccessful" },
          "401": { "description": "Authentication unsuccessful" },
          "422": { "description": "Validation error(s)" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "delete": {
        "tags": ["Conditions api"],
        "summary": "Delete root page condition ",
        "operationId": "delete_3",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["CONTAINER", "CONTAINER_CONFIGURATION", "PAGE", "BANNER"]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "403": { "description": "Authorization unsuccessful" },
          "404": { "description": "Entity not found" },
          "401": { "description": "Authentication unsuccessful" },
          "200": { "description": "Success" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/brand/themes/{id}/typography": {
      "get": {
        "tags": ["themes", "Brand theme API"],
        "summary": "Get theme typography",
        "operationId": "getTypography",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "404": { "description": "Not found" },
          "400": { "description": "Bad request" },
          "200": {
            "description": "Theme typography",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TypographyXto" }
              }
            }
          },
          "403": { "description": "Authorization failed" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "put": {
        "tags": ["themes", "Brand theme API"],
        "summary": "Update theme typography",
        "operationId": "updateTypography",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TypographyXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "404": { "description": "Not found" },
          "400": { "description": "Bad request" },
          "200": {
            "description": "Theme typography",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TypographyXto" }
              }
            }
          },
          "403": { "description": "Authorization failed" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/brand/themes/{id}/logos": {
      "get": {
        "tags": ["themes", "Brand theme API"],
        "summary": "Get theme logos",
        "operationId": "getLogos",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "404": { "description": "Not found" },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "200": {
            "description": "Theme logos",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ThemeLogosXto" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      },
      "put": {
        "tags": ["themes", "Brand theme API"],
        "summary": "Update theme logos",
        "operationId": "updateLogos",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ThemeLogosXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Theme logos changed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ThemeLogosXto" }
              }
            }
          },
          "404": { "description": "Not found" },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/brand/properties": {
      "get": {
        "tags": ["Brand properties api"],
        "summary": "Get all brand properties",
        "description": "Get all brand properties",
        "operationId": "getAll_3",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Get all brand properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/BrandPropertyXto" }
                }
              }
            }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "put": {
        "tags": ["Brand properties api"],
        "summary": "Edit brand property",
        "description": "Edit brand property",
        "operationId": "edit",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BrandPropertyXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "200": {
            "description": "Edit brand property",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BrandPropertyXto" }
              }
            }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "post": {
        "tags": ["Brand properties api"],
        "summary": "Create brand property",
        "description": "Create brand property",
        "operationId": "create_7",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BrandPropertyXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "200": {
            "description": "Edit brand property",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BrandPropertyXto" }
              }
            }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/brand/languages": {
      "get": {
        "tags": ["Brand languages api"],
        "summary": "Get all brand languages",
        "description": "Get all brand languages",
        "operationId": "getAll_4",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "200": {
            "description": "Get all brand languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/BrandLanguageXto" }
                }
              }
            }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "put": {
        "tags": ["Brand languages api"],
        "summary": "Put brand language",
        "description": "Put brand language",
        "operationId": "put",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BrandLanguageXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "200": {
            "description": "Put brand language",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BrandLanguageXto" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/banner/{id}/publish": {
      "put": {
        "tags": ["Banners api", "publish", "banners"],
        "summary": "Publish/unpublish banner",
        "operationId": "publish",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "404": { "description": "Banner not found" },
          "401": { "description": "Authentication unsuccessful" },
          "200": { "description": "Delete a banner" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/banner/{id}/conditions": {
      "get": {
        "tags": ["Banners api", "conditions"],
        "summary": "Find root condition by banner id ",
        "operationId": "getByBannerId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "getPromotionConditions",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "403": { "description": "Authorization unsuccessful" },
          "200": {
            "description": "Condition group for this banner",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
              }
            }
          },
          "401": { "description": "Authentication unsuccessful" },
          "404": { "description": "Banner or Conditions not found" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "put": {
        "tags": ["Banners api", "conditions"],
        "summary": "Update root condition for banner",
        "operationId": "updateCondition_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
              }
            }
          },
          "403": { "description": "Authorization unsuccessful" },
          "401": { "description": "Authentication unsuccessful" },
          "422": { "description": "Validation error(s)" },
          "404": { "description": "Banner or condition not found" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "post": {
        "tags": ["Banners api", "conditions"],
        "summary": "Create root condition for banner",
        "operationId": "createCondition_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConditionGroupXto" }
              }
            }
          },
          "404": { "description": "Banne not found" },
          "403": { "description": "Authorization unsuccessful" },
          "401": { "description": "Authentication unsuccessful" },
          "422": { "description": "Validation error(s)" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "delete": {
        "tags": ["Banners api", "conditions"],
        "summary": "Delete root condition for banner",
        "operationId": "delete_9",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "404": { "description": "Banner or Condition not found" },
          "403": { "description": "Authorization unsuccessful" },
          "401": { "description": "Authentication unsuccessful" },
          "200": { "description": "Success" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/banner/v2": {
      "put": {
        "tags": ["Banners api", "edit", "banners"],
        "summary": "Edit banner",
        "operationId": "bannerEdit",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BannerRequestXtoV2" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "200": {
            "description": "Edit a banner",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BannerDetailsXtoV2" }
              }
            }
          },
          "403": { "description": "Authorization failed" },
          "404": { "description": "Banner not found" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "post": {
        "tags": ["Banners api", "create", "banners"],
        "summary": "Create a new banner",
        "operationId": "bannerCreateV2",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BannerRequestXtoV2" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "200": {
            "description": "Create a new banner",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BannerDetailsXtoV2" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/internal/new-brand/create-db": {
      "post": {
        "tags": ["new-brand-controller"],
        "operationId": "createDb",
        "parameters": [
          {
            "name": "api-create-auth-key",
            "in": "header",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DbCredentialsXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": { "description": "OK" }
        }
      }
    },
    "/api/translations/import": {
      "post": {
        "tags": ["Translations import/export"],
        "summary": "Import translations",
        "operationId": "importTranslations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["importFile"],
                "type": "object",
                "properties": {
                  "importFile": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "403": { "description": "unauthorized" },
          "422": { "description": "Error while processing validation" },
          "401": { "description": "jwt token is invalid or expired" },
          "200": { "description": "Success" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/translations/flag-needs-translation": {
      "post": {
        "tags": ["Translations api"],
        "summary": "Set needs translation flag of a keys",
        "operationId": "toggleNeedsTranslation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleNeedsTranslationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "403": { "description": "Unauthorized" },
          "401": { "description": "jwt token is invalid or expired" },
          "200": { "description": "Success" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/translations/export": {
      "post": {
        "tags": ["Translations import/export"],
        "summary": "Export translations",
        "operationId": "exportTranslations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ListTranslationsRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Exported translations",
            "content": { "application/octet-stream": {} }
          },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "401": { "description": "jwt token is invalid or expired" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/translations/by-keys-and-languages": {
      "post": {
        "tags": ["Translations api"],
        "summary": "Translations data by key",
        "operationId": "getTranslationsByKeysAndLanguages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ListTranslationsRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "401": { "description": "jwt token is invalid or expired" },
          "200": {
            "description": "Translations for that key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TranslationXto" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/sweepstakes/packages": {
      "get": {
        "tags": ["Sweepstakes api", "sweepstakes"],
        "summary": "Get all packages",
        "operationId": "list",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "200": {
            "description": "Packages list",
            "content": { "application/json": { "schema": { "type": "array" } } }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "post": {
        "tags": ["Sweepstakes api", "sweepstakes"],
        "summary": "Create new package",
        "operationId": "create_1",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PackageCreateRequestXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "201": {
            "description": "Package item was created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PackageXto" }
              }
            }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/registration-form/create": {
      "post": {
        "tags": ["Registration form API", "registration"],
        "summary": "Add ordered registration form fields",
        "operationId": "createRegistrationFormFields",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "EMAIL",
                      "NICK_NAME",
                      "PASSWORD",
                      "FIRST_NAME",
                      "MIDDLE_NAME",
                      "LAST_NAME",
                      "GENDER",
                      "COUNTRY_CODE",
                      "IP_COUNTRY_CODE",
                      "LANGUAGE_CODE",
                      "CURRENCY_CODE",
                      "GAME_LAUNCH_CURRENCY_CODE",
                      "PHONE_NUMBER",
                      "PHONE_CODE",
                      "ADDRESS",
                      "CITY",
                      "ZIP",
                      "DATE_OF_BIRTH",
                      "TIME_ZONE",
                      "TEST_ACCOUNT",
                      "CONTACT_EMAIL",
                      "CONTACT_SMS",
                      "AUTO_WITHDRAW_EXCLUDED",
                      "EXTERNAL_ID",
                      "CHANNEL",
                      "STATE",
                      "CONFIRM_PASSWORD",
                      "REFERRAL_CODE",
                      "NATIONAL_ID"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "EMAIL",
                        "NICK_NAME",
                        "PASSWORD",
                        "FIRST_NAME",
                        "MIDDLE_NAME",
                        "LAST_NAME",
                        "GENDER",
                        "COUNTRY_CODE",
                        "IP_COUNTRY_CODE",
                        "LANGUAGE_CODE",
                        "CURRENCY_CODE",
                        "GAME_LAUNCH_CURRENCY_CODE",
                        "PHONE_NUMBER",
                        "PHONE_CODE",
                        "ADDRESS",
                        "CITY",
                        "ZIP",
                        "DATE_OF_BIRTH",
                        "TIME_ZONE",
                        "TEST_ACCOUNT",
                        "CONTACT_EMAIL",
                        "CONTACT_SMS",
                        "AUTO_WITHDRAW_EXCLUDED",
                        "EXTERNAL_ID",
                        "CHANNEL",
                        "STATE",
                        "CONFIRM_PASSWORD",
                        "REFERRAL_CODE",
                        "NATIONAL_ID"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/promotion": {
      "get": {
        "tags": ["promotions", "Promotions api"],
        "summary": "Get all promotions",
        "operationId": "list_1",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Bad request" },
          "200": {
            "description": "Promotion list",
            "content": { "application/json": { "schema": { "type": "array" } } }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "post": {
        "tags": ["promotions", "Promotions api"],
        "summary": "Create new promotion",
        "operationId": "create_2",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PromotionCreateRequestXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "201": {
            "description": "Promotion item was created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PromotionDetailsXto" }
              }
            }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/promotion/{id}/seo": {
      "post": {
        "tags": ["Promotions api", "providers"],
        "summary": "Update promotion seo properties",
        "operationId": "postSeo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SeoPropertiesXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "404": { "description": "Promotion was not found by the supplied id" },
          "400": { "description": "Bad request" },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "422": { "description": "Promotion is deleted in platform" },
          "200": {
            "description": "Updated promotion seo properties",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CasinoProviderXto" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/password/reset/social-login/initiate": {
      "post": {
        "tags": ["Reset password"],
        "summary": "Initiate password reset",
        "description": "initiate password reset",
        "operationId": "initiateSocialLoginPasswordReset",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InitiateResetPasswordXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": { "description": "OK" }
        }
      }
    },
    "/api/password/reset/initiate": {
      "post": {
        "tags": ["Reset password"],
        "summary": "Initiate password reset",
        "description": "initiate password reset",
        "operationId": "initiatePasswordReset",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InitiateResetPasswordXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": { "description": "OK" }
        }
      }
    },
    "/api/pages": {
      "get": {
        "tags": ["Pages api"],
        "summary": "Get pages tree",
        "operationId": "getDetails",
        "parameters": [
          {
            "name": "includeChildPages",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "403": { "description": "unauthorized" },
          "200": {
            "description": "Pages tree",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/PageXto" }
                }
              }
            }
          },
          "401": { "description": "jwt token is invalid or expired" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "post": {
        "tags": ["Pages api"],
        "summary": "Create new page",
        "operationId": "createPage",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePageRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "422": { "description": "Error while processing validation" },
          "201": {
            "description": "Pages tree with new created object",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatePageXto" }
              }
            }
          },
          "401": { "description": "jwt token is invalid or expired" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "patch": {
        "tags": ["Pages api"],
        "summary": "Patch existing page",
        "operationId": "patchPage",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PatchPageRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "422": { "description": "Error while processing validation" },
          "200": {
            "description": "Patched page details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PageDetailsXto" }
              }
            }
          },
          "401": { "description": "jwt token is invalid or expired" },
          "404": { "description": "Page not found" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/pages/slug/exists": {
      "post": {
        "tags": ["Pages api"],
        "summary": "Check if slug exists",
        "operationId": "isExistingSlug",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SlugCheckRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "200": {
            "description": "True if slug exists, false otherwise",
            "content": { "application/json": { "schema": { "type": "boolean" } } }
          },
          "401": { "description": "jwt token is invalid or expired" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/pages/create/login-overlay/{variant}": {
      "post": {
        "tags": ["Pages api"],
        "summary": "Create login overlay for all pages",
        "operationId": "createLoginOverlay",
        "parameters": [
          {
            "name": "variant",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": { "description": "Create login overlay for all pages" },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "422": { "description": "Error while processing validation" },
          "401": { "description": "jwt token is invalid or expired" },
          "404": { "description": "Page not found" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/pages/create/login-overlay/{variant}/{pageId}": {
      "post": {
        "tags": ["Pages api"],
        "summary": "Create login overlay for one pages",
        "operationId": "createLoginOverlayForOnePage",
        "parameters": [
          {
            "name": "variant",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": { "description": "Create login overlay for all pages" },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "422": { "description": "Error while processing validation" },
          "401": { "description": "jwt token is invalid or expired" },
          "404": { "description": "Page not found" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/navigation/create/{navigationType}": {
      "post": {
        "tags": ["navigation", "Navigation api"],
        "summary": "Add ordered page ids for side navigation",
        "operationId": "createNavigation",
        "parameters": [
          {
            "name": "navigationType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["VERTICAL", "HORIZONTAL", "MAIN", "SECONDARY"]
            }
          },
          { "name": "tenant", "in": "header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/NavigationRequestItemXto" }
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NavigationResponseItemXto"
                  }
                }
              }
            }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/navigation/create-v2": {
      "post": {
        "tags": ["navigation", "Navigation api"],
        "summary": "Add ordered page ids for side navigation",
        "operationId": "createNavigationV2",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/NavigationRequestItemXto" }
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NavigationResponseItemXto"
                  }
                }
              }
            }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "deprecated": true,
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/metadata/casino/game/tile/import": {
      "post": {
        "tags": ["game-tile", "Casino game tile api"],
        "summary": "Import metadata game tiles",
        "operationId": "importGameTiles",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CasinoGameTilesImportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Games import process initiated successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GamesResultGridXto" }
              }
            }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/media/system/files/upload": {
      "post": {
        "tags": ["Media system files api"],
        "summary": "Upload media file",
        "operationId": "uploadMediaFile",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["image", "request"],
                "type": "object",
                "properties": {
                  "request": { "type": "string" },
                  "image": { "type": "string", "format": "binary" }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "200": {
            "description": "Created localization object",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MediaFileXto" }
              }
            }
          },
          "401": { "description": "jwt token is invalid or expired" },
          "409": { "description": "image already exist" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/media/files/upload": {
      "post": {
        "tags": ["Media files api"],
        "summary": "Upload media file",
        "operationId": "uploadMediaFile_1",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["image", "request"],
                "type": "object",
                "properties": {
                  "request": { "type": "string" },
                  "image": { "type": "string", "format": "binary" }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "200": {
            "description": "Created localization object",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MediaFileXto" }
              }
            }
          },
          "401": { "description": "jwt token is invalid or expired" },
          "409": { "description": "image already exist" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/media/directories": {
      "get": {
        "tags": ["Media directories api"],
        "summary": "List all root directories",
        "operationId": "getDirectories_1",
        "parameters": [
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          { "name": "tenant", "in": "header" }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "422": { "description": "Error while processing validation" },
          "200": {
            "description": "All directories on root level",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/MediaDirectoryXto" }
                }
              }
            }
          },
          "401": { "description": "jwt token is invalid or expired" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "post": {
        "tags": ["Media directories api"],
        "summary": "Creates a directory object",
        "operationId": "createDirectory",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateMediaDirectoryRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "201": {
            "description": "The state of the created directory object",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MediaDirectoryItemXto" }
              }
            }
          },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "422": { "description": "Error while processing validation" },
          "401": { "description": "jwt token is invalid or expired" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/loyalty/level": {
      "post": {
        "tags": ["loyalty"],
        "summary": "Create loyalty level",
        "operationId": "createLoyaltyLevel",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoyaltyLevelXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LoyaltyLevelXto" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      },
      "patch": {
        "tags": ["loyalty"],
        "summary": "Patch loyalty level",
        "operationId": "editLoyaltyLevel_1",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoyaltyLevelXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "403": { "description": "Authorization failed" },
          "401": { "description": "Authentication unsuccessful" },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LoyaltyLevelXto" }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/l10n": {
      "post": {
        "tags": ["Localization api"],
        "summary": "Create new localization",
        "operationId": "createLocalization",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/CreateLocalizationRequest"
                  },
                  "image": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "422": { "description": "Error while processing validation" },
          "201": {
            "description": "Created localization object",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LocalizationXto" }
              }
            }
          },
          "401": { "description": "jwt token is invalid or expired" }
        },
        "security": [{ "bearer-key": [] }]
      },
      "patch": {
        "tags": ["Localization api"],
        "summary": "Update localization value",
        "operationId": "updateLocalization",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/UpdateLocalizationRequest"
                  },
                  "image": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "Updated localization object",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LocalizationXto" }
              }
            }
          },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "422": {
            "description": "Error while processing validation",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/LocalizationXto" } }
            }
          },
          "401": { "description": "jwt token is invalid or expired" }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/l10n/multiple": {
      "post": {
        "tags": ["Localization api"],
        "summary": "Create multiple localizations",
        "operationId": "createMultipleLocalizations",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "request": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateLocalizationRequest"
                    }
                  },
                  "image": {
                    "type": "array",
                    "items": { "type": "string", "format": "binary" }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Request validation error(s)" },
          "403": { "description": "unauthorized" },
          "422": { "description": "Error while processing validation" },
          "401": { "description": "jwt token is invalid or expired" },
          "201": {
            "description": "Created localization object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/LocalizationXto" }
                }
              }
            }
          }
        },
        "security": [{ "bearer-key": [] }]
      }
    },
    "/api/frontend/slug/page": {
      "post": {
        "tags": ["page", "frontend"],
        "summary": "Get page by slug",
        "operationId": "getObjectBySlug",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/SlugXto" } }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": { "description": "Page object", "content": { "application/json": {} } }
        }
      }
    },
    "/api/frontend/password/reset/initiate": {
      "post": {
        "tags": ["Website email template api", "password", "reset"],
        "summary": "Initiate password reset",
        "description": "initiate password reset",
        "operationId": "initiatePasswordReset_1",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InitiateResetPasswordXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": { "description": "OK" }
        }
      }
    },
    "/api/frontend/password/reset/initiate-migration": {
      "post": {
        "tags": ["Website email template api", "password", "reset"],
        "summary": "Initiate migration password reset",
        "operationId": "initiateMigrationPasswordReset",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InitiateResetPasswordXto" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": { "description": "OK" }
        }
      }
    },
    "/api/frontend/devcode-identity/auth-url": {
      "post": {
        "tags": ["Website devcode-identity endpoints"],
        "summary": "Performs Devcode Identity authorization",
        "description": "Performs Devcode Identity authorization",
        "operationId": "devcodeIdentityAuthUrl",
        "parameters": [{ "name": "tenant", "in": "header" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DevcodeIdentityAuthRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": { "*/*": { "schema": { "type": "object" } } }
          },
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/api/frontend/devcode-identity/auth-url-v2": {
      "post": {
        "tags": ["Website devcode-identity endpoints"],
        "summary": "Performs Devcode Identity authorization",
[...]
