{
  "openapi": "3.0.1",
  "info": {
    "title": "customer-service (Thu, 20 Jun 2024 13:13:47 GMT)",
    "version": "0.0.1-SNAPSHOT"
  },
  "servers": [
    {
      "url": "https://platform-gateway.rocketship.cash/customer-service",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "customer",
      "description": "com.lis.platform.integration.customer.controller.CustomerController"
    },
    {
      "name": "Visitor id devices controller",
      "description": "com.lis.platform.integration.customer.controller.DeviceController"
    },
    {
      "name": "loyalty-history",
      "description": "com.lis.platform.integration.customer.controller.LoyaltyHistoryController"
    },
    {
      "name": "Frontend reset password",
      "description": "Reset password api"
    },
    {
      "name": "bet-history",
      "description": "com.lis.platform.integration.customer.controller.BetHistoryController"
    },
    {
      "name": "Veriff",
      "description": "Veriff Webhook API"
    },
    {
      "name": "frontend payment",
      "description": "Payments api"
    },
    {
      "name": "tracking-data",
      "description": "com.lis.platform.integration.customer.controller.TrackingDataController"
    },
    {
      "name": "affiliate-data",
      "description": "com.lis.platform.integration.customer.controller.AffiliateController"
    },
    {
      "name": "sportsbook-bet-history",
      "description": "com.lis.platform.integration.customer.controller.SportsbookBetHistoryController"
    },
    {
      "name": "kyc",
      "description": "KYC verification api"
    },
    {
      "name": "bonus-history",
      "description": "com.lis.platform.integration.customer.controller.BonusHistoryController"
    },
    {
      "name": "frontend kyc",
      "description": "KYC verification api"
    },
    {
      "name": "transaction",
      "description": "com.lis.platform.integration.customer.controller.TransactionsController"
    },
    {
      "name": "login",
      "description": "com.lis.platform.integration.customer.login.controller.LoginController"
    },
    {
      "name": "Tracking",
      "description": "Tracking api"
    },
    {
      "name": "DevCode identity",
      "description": "DevCode identity"
    }
  ],
  "paths": {
    "/internal/new-brand/create-db": {
      "post": {
        "tags": [
          "new-brand-controller"
        ],
        "operationId": "createDb",
        "parameters": [
          {
            "name": "api-create-auth-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.tenant.automation.controller.NewBrandController$DbCredentialsXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/veriff/webhook/decision/idv": {
      "post": {
        "tags": [
          "Veriff"
        ],
        "operationId": "decisionIdvWebhook",
        "parameters": [
          {
            "name": "X-HMAC-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/transaction/search": {
      "post": {
        "tags": [
          "transaction"
        ],
        "summary": "transactions search",
        "description": "Search by transaction params",
        "operationId": "transactionSearch",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.TransactionHistorySearchRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Pageable result of searched transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.WalletTransactionXto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "jwt token is invalid or expired"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/transaction/search/withdrawals": {
      "post": {
        "tags": [
          "withdrawal",
          "transaction"
        ],
        "summary": "withdrawals search",
        "description": "Search by multiple params",
        "operationId": "withdrawalSearch",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.WalletTransactionSearchRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "jwt token is invalid or expired"
          },
          "200": {
            "description": "Pageable result of searched withdrawal transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.WalletTransactionBasicResponseXto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/transaction/search/deposits": {
      "post": {
        "tags": [
          "deposit",
          "transaction"
        ],
        "summary": "deposits search",
        "description": "Search by multiple params",
        "operationId": "depositSearch",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.WalletTransactionSearchRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Pageable result of searched deposit transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.WalletTransactionBasicResponseXto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "jwt token is invalid or expired"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/sportsbook-bet-history/search": {
      "post": {
        "tags": [
          "sportsbook-bet-history"
        ],
        "summary": "Sportsbook bet history search",
        "operationId": "sportsbookBetSearch",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.SportsbookBetHistorySearchRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Will return a pageable result of searched sportsbook bet history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.SportsbookBetHistoryResponseXto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/loyalty-history/searchV2": {
      "post": {
        "tags": [
          "loyalty-history"
        ],
        "summary": "loyalty history search",
        "operationId": "customerSearch",
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.kafka.xto.loyalty.LoyaltyHistorySearchRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Will return a pageable result of searched loyalty history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.LoyaltyHistoryController$PartitionedLoyaltyHistoryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/kyc/poa/trigger": {
      "post": {
        "tags": [
          "kyc"
        ],
        "summary": "start idv verification process",
        "description": "Initiate idv verification process for a customer. This can be done with pending or finished old verification,which is removed ",
        "operationId": "startPoaVerification",
        "parameters": [
          {
            "name": "cid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing validation"
          },
          "200": {
            "description": "Initiated IDV verification data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.kyc.dto.VerificationDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/kyc/poa/complete": {
      "post": {
        "tags": [
          "kyc"
        ],
        "summary": "completes poa verification flow",
        "description": "Completes POA verification flow",
        "operationId": "completePoa",
        "parameters": [
          {
            "name": "cid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.kyc.dto.CompleteVerificationRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "POA Verification flow is completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.kyc.dto.CompleteVerificationResponseDto"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing verification"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/kyc/idv/trigger": {
      "post": {
        "tags": [
          "kyc"
        ],
        "summary": "start idv verification process",
        "description": "Initiate idv verification process for a customer. This can be done with pending or finished old verification,which is removed ",
        "operationId": "startIdvVerification",
        "parameters": [
          {
            "name": "cid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing validation"
          },
          "200": {
            "description": "Initiated IDV verification data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.kyc.dto.VerificationDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/kyc/idv/complete": {
      "post": {
        "tags": [
          "kyc"
        ],
        "summary": "completes idv verification flow",
        "description": "Completes IDV verification flow",
        "operationId": "completeIdv",
        "parameters": [
          {
            "name": "cid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.kyc.dto.CompleteVerificationRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing verification"
          },
          "200": {
            "description": "IDV Verification flow is completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.kyc.dto.CompleteVerificationResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/hcaptcha/verify": {
      "post": {
        "tags": [
          "hcaptcha-controller"
        ],
        "summary": "Verify whether the request is suspicious",
        "description": "True if the request is suspicious, false otherwise",
        "operationId": "verifyHcaptchaToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.HcaptchaVerifyRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Successful check",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/tracking": {
      "post": {
        "tags": [
          "Tracking",
          "tracking"
        ],
        "summary": "Send tracking data",
        "description": "send tracking data",
        "operationId": "sendTrackingEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.TrackingEventXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/frontend/sweepstakes/top-up": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Top up social currency balance",
        "description": "Top up social currency balance",
        "operationId": "topUpSocialBalance",
        "parameters": [
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Customer has successfully topped up social currency."
          },
          "401": {
            "description": "Unauthorized request"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/sweepstakes/periodic-bonus/opt-in": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Customer Opts-in for a periodic sweepstakes bonus",
        "description": "Indicates that a customer is willing to be given a periodic sweepstakes bonus.",
        "operationId": "optInForPeriodicBonus",
        "parameters": [
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Customer has successfully opted-in for periodic sweepstakes bonus.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.rest.dto.SweepstakesPeriodicBonusOptInResponse"
                }
              }
            }
          },
          "400": {
            "description": "The bonus can't be opted-in."
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/payment/vault/withdraw": {
      "post": {
        "tags": [
          "frontend payment",
          "withdraw",
          "crypto"
        ],
        "summary": "vault withdraw transactions",
        "description": "Create vault withdraw",
        "operationId": "vaultWithdraw",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.VaultWithdrawRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Vault withdraw",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing validation"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/payment/vault/deposit": {
      "post": {
        "tags": [
          "frontend payment",
          "deposit",
          "crypto"
        ],
        "summary": "vault deposit transactions",
        "description": "Create vault deposit",
        "operationId": "vaultDeposit",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.VaultTransactionRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Vault deposit",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing validation"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/payment/v2/crypto/withdraw": {
      "post": {
        "tags": [
          "frontend payment",
          "withdraw",
          "crypto"
        ],
        "summary": "initiate crypto withdrawal",
        "description": "initiate crypto withdrawal ",
        "operationId": "initiateWithdrawV2",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CryptoWithdrawRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Initiated withdraw",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CryptoWithdrawResponseXto"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing validation"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/payment/v2/crypto/withdraw/cancel": {
      "post": {
        "tags": [
          "frontend payment",
          "withdraw"
        ],
        "summary": "cancel customer withdraw transactions",
        "description": "Cancel customer withdraw transaction",
        "operationId": "cancelWithdraw",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CancelWalletTransactionRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Vault withdraw",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing validation"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/payment/deposit": {
      "post": {
        "tags": [
          "frontend payment",
          "deposit",
          "crypto"
        ],
        "summary": "initiate crypto deposit",
        "description": "initiate crypto deposit ",
        "operationId": "initiateDeposit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.InitiateWalletTransactionRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Initiated deposit",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.InitiateWalletTransactionResponseXto"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing validation"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/payment/crypto/withdraw": {
      "post": {
        "tags": [
          "frontend payment",
          "withdraw",
          "crypto"
        ],
        "summary": "initiate crypto withdrawal",
        "description": "initiate crypto withdrawal ",
        "operationId": "initiateWithdraw",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CryptoWithdrawRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Initiated withdraw"
          },
          "422": {
            "description": "Error while processing validation"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/password/reset": {
      "post": {
        "tags": [
          "password",
          "Frontend reset password",
          "reset"
        ],
        "summary": "Reset password",
        "description": "Reset password",
        "operationId": "resetPassword",
        "parameters": [
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.ResetPasswordXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/frontend/password/reset/status/{token}": {
      "post": {
        "tags": [
          "password",
          "Frontend reset password",
          "reset"
        ],
        "summary": "Check password reset link is valid",
        "description": "Check password reset link is valid",
        "operationId": "checkTokenValid",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.ResetPasswordTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.TokenValidResponseXto"
                }
              }
            }
          }
        }
      }
    },
    "/api/frontend/password/reset/social-login/initiate": {
      "post": {
        "tags": [
          "password",
          "Frontend reset password",
          "reset"
        ],
        "summary": "Initiate social login password reset",
        "description": "initiate social login password reset",
        "operationId": "initiateSocialLoginPasswordReset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.InitiateResetPasswordXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/frontend/password/reset/initiate/v2": {
      "post": {
        "tags": [
          "password",
          "Frontend reset password",
          "reset"
        ],
        "summary": "Initiate password reset",
        "description": "initiate password reset",
        "operationId": "initiatePasswordResetNew",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.InitiateResetPasswordXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/frontend/password/reset/initiate-migration": {
      "post": {
        "tags": [
          "password",
          "Frontend reset password",
          "reset"
        ],
        "summary": "Initiate migration password reset",
        "description": "initiate migration password reset",
        "operationId": "initiateMigrationPasswordReset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.InitiateResetPasswordXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/frontend/kyc/poa/trigger": {
      "post": {
        "tags": [
          "kyc",
          "frontend kyc"
        ],
        "summary": "start poa verification process",
        "description": "Initiate poa verification process for a customer. This can be done with pending or finished old verification,which is removed ",
        "operationId": "startPoaVerification_1",
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Initiated poa verification data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.kyc.dto.VerificationDto"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing validation"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/kyc/poa/complete": {
      "post": {
        "tags": [
          "kyc",
          "frontend kyc"
        ],
        "summary": "completes poa verification flow",
        "description": "Completes POA verification flow",
        "operationId": "completeKycPoaVerification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.kyc.dto.CompleteVerificationRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "POA Verification flow is completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.kyc.dto.CompleteVerificationResponseDto"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing verification"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/kyc/idv/trigger": {
      "post": {
        "tags": [
          "kyc",
          "frontend kyc"
        ],
        "summary": "start idv verification process",
        "description": "Initiate idv verification process for a customer. This can be done with pending or finished old verification,which is removed ",
        "operationId": "startIdvVerification_1",
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Initiated poa verification data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.kyc.dto.VerificationDto"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing validation"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/kyc/idv/complete": {
      "post": {
        "tags": [
          "kyc",
          "frontend kyc"
        ],
        "summary": "completes idv verification flow",
        "description": "Completes IDV verification flow",
        "operationId": "completeKycIdvVerification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.kyc.dto.CompleteVerificationRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Error while processing verification"
          },
          "200": {
            "description": "IDV Verification flow is completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.kyc.dto.CompleteVerificationResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Customer is not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/customer/wallet-connect/login": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Wallet connect login",
        "operationId": "loginWalletConnect",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.FrontendWalletConnectLoginXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Will return successfully logged in customer connected to wallet id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.CustomerAccountResponseXto"
                }
              }
            }
          },
          "400": {
            "description": "Request validation error(s)"
          },
          "401": {
            "description": "Invalid authentication with error",
            "content": {
              "text/plain": {}
            }
          }
        }
      }
    },
    "/api/frontend/customer/wallet-connect/generate-message-v2": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Generate wallet connect message",
        "operationId": "generateWalletConnectMessageV2",
        "parameters": [
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.WalletConnectGenerateMsgRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Request validation error(s)"
          },
          "200": {
            "description": "Will return successfully generated wallet connect message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.CustomerAccountResponseXto"
                }
              }
            }
          }
        }
      }
    },
    "/api/frontend/customer/wallet-connect/create": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Register customer by wallet connect from frontend app",
        "operationId": "registerFrontendPlayerAccountWithWalletConnect",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.registration.FrontendWalletConnectRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Will return successfully created customer with all his/her data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.CustomerAccountResponseXto"
                }
              }
            }
          },
          "400": {
            "description": "Request validation error(s)"
          }
        }
      }
    },
    "/api/frontend/customer/verify-factor": {
      "post": {
        "tags": [
          "mfa",
          "frontend"
        ],
        "summary": "Verifies existing Mfa factor",
        "operationId": "verifyFactor",
        "parameters": [
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "200": {
            "description": "True if factor is verified successfully and false otherwise",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "422": {
            "description": "Mfa for the brand is disabled or blocked temporarily"
          },
          "404": {
            "description": "Factor not found"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/customer/verification-files": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Upload verification files",
        "operationId": "uploadVerificationFiles",
        "parameters": [
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "images",
                  "request"
                ],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.sportsbook.VerificationFilesXto"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "jwt token is invalid or expired"
          },
          "400": {
            "description": "Request validation error(s)"
          },
          "403": {
            "description": "unauthorized"
          },
          "422": {
            "description": "Error while processing validation"
          },
          "201": {
            "description": "Successfully uploaded files"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/customer/valid-v2/{field}": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Valid email is not existing one",
        "operationId": "isValidFieldV2",
        "parameters": [
          {
            "name": "field",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.ValidFieldRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "ValidFieldResponse.valid = true in case validation is successValidFieldResponse.valid = false otherwise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.ValidFieldResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/frontend/customer/valid-user-field/{field}": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Valid email is not existing one",
        "operationId": "isValidUserField",
        "parameters": [
          {
            "name": "field",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.ValidFieldRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "ValidFieldResponse.valid = true in case validation is successValidFieldResponse.valid = false otherwise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.ValidFieldResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/frontend/customer/user-exist-by/nick-name": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Customer exist by nick name",
        "operationId": "userNickNameUsed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CustomerExistsByNicknameRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "In case that customer with such nick name doesn't exist"
          },
          "200": {
            "description": "In case that customer with such nick name exist"
          }
        }
      }
    },
    "/api/frontend/customer/transaction-history": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "transaction history search",
        "operationId": "transactionHistorySearch",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.FrontendTransactionHistorySearchRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "206": {
            "description": "Will return a chunk of searched transaction history. There are more chunks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.FrontendTransactionHistoryResponseXto"
                  }
                }
              }
            }
          },
          "200": {
            "description": "Will return a chunk of searched transaction history. There are no more chunks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.FrontendTransactionHistoryResponseXto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/customer/telegram-social-register": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Register Telegram player coming from the website's TG Login widget",
        "operationId": "telegramSocialRegister",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.registration.TelegramSocialRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Token and customer basic data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.CustomerAccountResponseXto"
                }
              }
            }
          },
          "422": {
            "description": "Suspicious user behavior detected during registration"
          },
          "400": {
            "description": "Request validation error(s)"
          }
        }
      }
    },
    "/api/frontend/customer/telegram-social-login": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Login Telegram player coming from the website's TG Login widget, return 404 if user is not registered",
        "operationId": "telegramSocialLogin",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.TelegramSocialLoginRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Token and customer basic data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CustomerDataXto"
                }
              }
            }
          },
          "404": {
            "description": "User not found, they must register first"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Request validation error(s)"
          }
        }
      }
    },
    "/api/frontend/customer/telegram-login": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Login Telegram player coming from the chat bot, register them first if they are a new user",
        "operationId": "telegramChatBotLogin",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.TelegramChatbotLoginRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Token and customer basic data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CustomerDataXto"
                }
              }
            }
          },
          "422": {
            "description": "Suspicious user behavior detected during registration or login"
          },
          "400": {
            "description": "Request validation error(s)"
          }
        }
      }
    },
    "/api/frontend/customer/sportsbook-bet-history": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "bet history search",
        "operationId": "sportsbookBetHistorySearch",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.sportsbook.FrontendSportsbookBetHistorySearchRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Will return a pageable result of searched sportsbook bet history. There are no more pages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.sportsbook.FrontendSportsbookBetHistoryResponseXto"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Will return a pageable result of searched sportsbook bet history. There are more pages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.sportsbook.FrontendSportsbookBetHistoryResponseXto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/customer/social-info": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Customer Social info",
        "operationId": "playerSocialInfo",
        "parameters": [
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.SocialInfoRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Request validation error(s)"
          },
          "422": {
            "description": "Business logic errors"
          },
          "200": {
            "description": "Player info from social provider. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.service.sociallogin.xto.SocialInfoResponseXto"
                }
              }
            }
          }
        }
      }
    },
    "/api/frontend/customer/renew-token-v2": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Customer token renew",
        "operationId": "renewTokenV2",
        "parameters": [
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "The new token",
            "content": {
              "application/text": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/customer/renew-token-external": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Renew external provider token",
        "operationId": "renewExternalToken",
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "The new token",
            "content": {
              "application/text": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/customer/logout-v2": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Customer Logout",
        "operationId": "playerLogoutV2",
        "parameters": [
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/customer/login-v2": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Customer Login",
        "operationId": "playerLoginV2",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.FrontendLoginXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Request validation error(s)"
          },
          "200": {
            "description": "Token and customer basic data. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CustomerDataXto"
                }
              }
            }
          },
          "422": {
            "description": "Business logic errors"
          },
          "202": {
            "description": "Player email and mfa login reference id. To be used for completing login after totp is provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CustomerDataXto"
                }
              }
            }
          }
        }
      }
    },
    "/api/frontend/customer/login-social": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Customer Social Login",
        "operationId": "playerLoginSocial",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.FrontendSocialLoginXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Request validation error(s)"
          },
          "200": {
            "description": "Token and customer basic data. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CustomerDataXto"
                }
              }
            }
          },
          "422": {
            "description": "Business logic errors"
          },
          "202": {
            "description": "Player email and mfa login reference id. To be used for completing login after totp is provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CustomerDataXto"
                }
              }
            }
          }
        }
      }
    },
    "/api/frontend/customer/invoices": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Create an invoice",
        "operationId": "createInvoice",
        "parameters": [
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CreateInvoiceRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Will return a URL for proceeding with payment.",
            "content": {
              "application/text": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Request validation error(s)"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/customer/get-or-create-factor": {
      "post": {
        "tags": [
          "mfa",
          "frontend"
        ],
        "summary": "Gets existing or creates Mfa factor",
        "operationId": "getOrCreateFactor",
        "parameters": [
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "422": {
            "description": "Mfa for the brand is disabled"
          },
          "200": {
            "description": "Factor details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.dto.FactorDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/customer/first-login-v2": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Check if the user has logged in before, by specifying an email.",
        "operationId": "firstLoginV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.FirstLoginRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/frontend/customer/exist-v2": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Customer exist by email",
        "operationId": "emailRegisteredV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CustomerExistsByEmailRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "In case that customer exist"
          },
          "204": {
            "description": "In case that customer doesn't exist"
          }
        }
      }
    },
    "/api/frontend/customer/exist-by-v2/nick-name": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Customer exist by nick name",
        "operationId": "nickNameUsedV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CustomerExistsByNicknameRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "In case that customer with such nick name doesn't exist"
          },
          "200": {
            "description": "In case that customer with such nick name exist"
          }
        }
      }
    },
    "/api/frontend/customer/create/v2": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Register customer directly from frontend app",
        "operationId": "registerFrontendPlayerAccountV2",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.registration.FrontendRegistrationRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Will return successfully created customer with all his/her data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.CustomerAccountResponseXto"
                }
              }
            }
          },
          "400": {
            "description": "Request validation error(s)"
          }
        }
      }
    },
    "/api/frontend/customer/create-social/v2": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Register customer by social network from frontend app",
        "operationId": "registerSocialFrontendPlayerAccountV2",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.registration.FrontendSocialRegistrationRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Will return successfully created customer with all his/her data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.registration.FrontendRegistrationRequestV2"
                }
              }
            }
          },
          "400": {
            "description": "Request validation error(s)"
          }
        }
      }
    },
    "/api/frontend/customer/complete-mfa-v2": {
      "post": {
        "tags": [
          "mfa",
          "frontend"
        ],
        "summary": "Customer Login complete mfa",
        "operationId": "completeMfaV2",
        "parameters": [
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CompleteMfaXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Token and customer basic data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CustomerDataXto"
                }
              }
            }
          },
          "401": {
            "description": "User is not found"
          },
          "400": {
            "description": "Request validation error(s)"
          },
          "422": {
            "description": "Mfa validation not successful or not configured"
          }
        }
      }
    },
    "/api/frontend/customer/bonus/{bonusId}/opt-in": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Customer Opts-in for a bonus",
        "description": "Indicates that a customer is willing to be given a bonus.",
        "operationId": "optInForBonus",
        "parameters": [
          {
            "name": "bonusId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Customer has successfully opted-in for an bonus.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "The bonus can't be opted-in."
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/customer/bonus/opt-in-bonus-code/{bonusCode}": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "Customer Opts-in for a bonus",
        "description": "Indicates that a customer is willing to be given a bonus.",
        "operationId": "optInForBonusWithCode",
        "parameters": [
          {
            "name": "bonusCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Customer has successfully opted-in for an bonus.",
            "content": {
              "application/text": {}
            }
          },
          "400": {
            "description": "The bonus can't be opted-in."
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/frontend/customer/bet-history-v2": {
      "post": {
        "tags": [
          "frontend"
        ],
        "summary": "bet history search",
        "operationId": "betHistorySearchV2",
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          },
          {
            "name": "tenant",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.FrontendBetHistorySearchRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Will return a pageable result of searched bet history. There are no more pages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.CustomerFrontendController$BetHistoryFrontendResponseXto"
                }
              }
            }
          },
          "206": {
            "description": "Will return a pageable result of searched bet history. There are more pages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.CustomerFrontendController$BetHistoryFrontendResponseXto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/devcode-identity/login": {
      "post": {
        "tags": [
          "devcode identity token",
          "DevCode identity"
        ],
        "summary": "Performs Devcode code validation",
        "description": "And returns a PLATFORM token in exchange, in case the user is successfully authenticated. In case the user does not exist in the system - he's created.",
        "operationId": "login",
        "parameters": [
          {
            "name": "visitorId",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.xto.DevcodeIdentityTokenRequestXto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Platform token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/com.lis.platform.integration.customer.controller.frontend.xto.CustomerDataXto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/devcode-identity/callback/user": {
      "get": {
        "tags": [
          "devcode identity user",
          "DevCode identity"
        ],
        "summary": "DevCode user GET",
        "description": "DevCode user GET",
        "operationId": "userGet",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ssn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ssn_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nickname",
            "in": "query",
[...]
